.contacts {
  position: relative;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  background-color: $white;
}

.contacts__wrapper {
  position: relative;
  z-index: 10;
  width: 280px;
  margin: 0 auto;
  padding: 0 $content-padding 19px;
  background-color: $white;
}

.contacts__intro {
  margin: 0;
  padding: 42px 0 34px;
  font-weight: 300;
}

.contacts__item {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &:nth-child(3) {
    margin-bottom: 25px;
    text-indent: 4px;
  }
}

.contacts__title {
  margin-bottom: 1px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.contacts__link {
  font-weight: 300;
  color: $pink;
  line-height: 30px;
  transition: all 0.3s ease-in-out;

  &--mail:hover,
  &--mail:focus {
    color: $blue;
    text-decoration: underline;
  }

  &--mail:active {
    color: rgba($blue, 0.3%);
    text-decoration: none;
    transition: none;
  }
}

.contacts__map {
  @include list-reset;
  position: relative;
  z-index: 10;
  height: 200px;
  background: url("../img/bg-map-mobile@1x.png") center 100% no-repeat;
  background-size: 320px 645px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url("../img/bg-triangle-white-footer.svg") 50% 100% no-repeat;
    background-size: 100% auto;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 30;
    bottom: 72px;
    left: 50%;
    width: 36px;
    height: 36px;
    background: url("../img/icon-map-marker.svg") 50% 50% no-repeat;
    background-size: 100% auto;
    transform: translateX(-50%);
  }
}

.contacts__map-link {
  width: 100%;
  height: 100%;
  border: none;
}

@media (min-width: $tablet-width) {
  .contacts__intro {
    width: 100%;
    padding: 46px 100px 44px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    box-sizing: border-box;
  }

  .contacts__wrapper {
    width: 660px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .contacts__item {
    width: 49%;
    margin-bottom: 46px;

    &:last-child {
      margin-bottom: 28px;
    }

    &:nth-child(3) {
      margin-bottom: 46px;
      text-indent: -1px;
    }
  }

  .contacts__title {
    margin-bottom: 4px;
  }

  .contacts__map {
    height: 372px;
    background: url("../img/bg-map-tablet@1x.jpg") center 73.5% no-repeat;
    background-size: 700px 848px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }

    &::before {
      height: 67px;
      background-size: 120% auto;
    }

    &::after {
      bottom: 145px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 960px;
  }

  .contacts__intro {
    padding: 64px 150px 55px;
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__wrapper .contacts__item {
    margin-bottom: 20px;
    width: 320px;
    flex-direction: column;
    justify-content: flex-start;
    order: 1;

    &:nth-child(3) {
      order: 2;
      text-indent: 1px;
    }
  }

  .contacts__title {
    margin-bottom: 24px;
  }

  .contacts__item .contacts__link--indent {
    text-indent: -4px;
  }

  .contacts__map {
    width: 100%;
    height: 500px;
    background: url("../img/bg-map-desktop@1x.jpg") center 58.5% no-repeat;
    background-size: 1200px 976px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }

    &::before {
      height: 103px;
      background-size: 115% 103px;
    }

    &::after {
      bottom: 202px;
    }
  }
}
