.effect {
  position: relative;
  display: none;
  padding: 0;
  margin: 96px auto 73px;
  background-color: $white;
}

.effect__wrapper {
  position: relative;
  width: 50%;
  margin-left: auto;
}

.effect__title {
  margin: 0;
  width: 70%;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: $black;


  &::before {
    content: "";
    position: absolute;
    top: -36px;
    left: -310px;
    width: 238px;
    height: 276px;
    background: url("../img/icon-timer.svg") 50% 50% no-repeat;
    background-size: 100% auto;
  }

  &::after {
    content: "24";
    position: absolute;
    left: -291px;
    top: 17px;
    width: 202px;
    height: 202px;
    text-align: center;
    font-size: 96px;
    line-height: 192px;
    font-weight: bold;
    color: $pink;
    box-shadow: inset 0 0 0 14px $pink;
    border-radius: 50%;
  }
}

.effect__text {
  margin: 10px 0;
  color: $blue;
}

.effect__link {
  color: $pink;
  text-decoration: underline;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    width: 100%;
    margin: 0 auto;
    padding: 66px 0 115px;
    background-color: $gray;
  }

  .effect__wrapper {
    width: 585px;
    padding-left: 375px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
  }

  .effect__title {
    font-size: 30px;

    &::before {
      top: -91px;
      left: 10px;
      width: 298px;
      height: 345px;
    }

    &::after {
      width: 253px;
      height: 253px;
      top: -23px;
      left: 33px;
      font-size: 120px;
      line-height: 240px;
      box-shadow: inset 0 0 0 18px $pink;
    }
  }

  .effect__text {
    margin: 21px 0 30px;
  }
}
