.information {
  position: relative;
  background-color: $gray;
  text-align: center;
  overflow: hidden;
}

.information__header {
  margin: 0;
  padding: 15px $content-padding 5px;
  font-size: 24px;
  line-height: 30px;
  background-color: $white;
  font-weight: lighter;
}

.information__intro {
  width: 280px;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.information__list {
  @include list-reset;
  padding: 80px $content-padding 288px;
  background: $gray url("../img/bg-triangle-white.svg") -5px -1px no-repeat;
  background-size: 110% auto;
}

.information__item {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.information__title {
  margin: 0;
  color: black;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.information__text {
  margin-top: 12px;
  margin-bottom: 31px;
}

.information__image {
  position: absolute;
  bottom: -42px;
  left: 50%;
  width: 157px;
  height: 320px;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .information__header {
    padding-top: 10px;
    padding-bottom: 42px;
    font-size: 40px;
    line-height: 48px;
  }

  .information__intro {
    margin-bottom: 0;
    width: 620px;

    &:nth-child(2) {
      width: 500px;
      margin: 0 auto;
    }
  }

  .information__list {
    padding-top: 79px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .information__item {
    width: 310px;
    padding-left: 310px;
    text-align: left;
  }

  .information__image {
    bottom: 0;
    left: 50%;
    width: 268px;
    height: 481px;
    transform: translateX(-115%);
  }

  .information__text {
    margin-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .information__header {
    padding-bottom: 67px;
  }

  .information__intro {
    width: 920px;
    margin-top: 57px;
    font-size: 50px;
    line-height: 60px;
  }

  .information__list {
    padding: 56px 0 0;
    flex-direction: row;
    justify-content: center;
  }

  .information__item {
    display: flex;
    width: 320px;
    margin: 0;
    padding-left: 0;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }

  .information__title {
    width: 230px;
    font-size: 30px;
    line-height: 30px;
  }

  .information__text {
    width: 240px;
    margin-top: 24px;
    margin-bottom: 90px;
  }

  .information__image {
    position: relative;
    bottom: 48px;
    left: 3px;
    width: 292px;
    height: 302px;
    transform: translateX(0);
  }
}
