.main-nav {
  position: relative;
  top: 70px;
  z-index: 110;
  display: block;

  &--close {
    display: none;
  }
}

.main-nav__list {
  @include list-reset;
  position: relative;
}

.main-nav__item {
  padding: 15px;
  text-align: center;
  background-color: $blue;
  border-top: 1px solid #485461;
  border-bottom: 1px solid $black;
}

.main-nav__link {
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  color: $white;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $pink;
  }

  &:active {
    color: rgba($pink, 0.5%);
  }

  &--current {
    &:hover,
    &:focus,
    &:active {
      cursor: default;
      color: $white;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    top: 110px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: block;
    top: 0;
  }

  .main-nav__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;
    box-sizing: border-box;
  }

  .main-nav__item {
    padding: 44px 40px 40px 41px;
    background-color: transparent;
    border: none;
  }

  .main-nav__link {
    padding-bottom: 10px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;

    &--current {
      border-bottom: 2px solid $white;
    }

    &:active {
      color: rgba($white, 0.3%);
    }
  }
}
