.photo__list {
  @include list-reset;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.photo__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  position: relative;
}

.photo__comment {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px 20px;
  padding: 18px 10px 19px 17px;
  background-color: $gray;
  color: $blue;
  box-sizing: border-box;

  &--panorama {
    position: relative;
  }
}

@-moz-document url-prefix("") {
  .photo__comment {
    margin-bottom: 20.5px;
  }
}

.photo__link {
  width: 280px;
  height: 180px;

  &--panorama {
    width: 100%;
    height: 137px;
  }
}

.photo__author {
  width: 100%;
  margin: 0;
  font-weight: bold;
}

.photo__comment-time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photo__comment-text {
  width: 100%;
  margin: 0;

  &--panorama::before {
    content: "Панорама дня";
    position: absolute;
    top: -137px;
    right: 0;
    min-width: 140px;
    padding: 6px 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    background-color: $pink;
  }
}

.photo__comment-like {
  position: relative;
  margin: 10px 32px 0;
  font-size: 12px;
  color: $pink;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: -31px;
    top: 6px;
    width: 13px;
    height: 12px;
    background: url("../img/icon-heart.svg");
  }
}

@media (min-width: $tablet-width) {
  .photo__list {
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: stretch;
  }

  .photo__item {
    width: 300px;
    margin: 0 10px;
    flex-direction: column;
    align-items: center;
    position: relative;

    &--panorama {
      flex-direction: row;
      width: 100%;
      margin: 0 auto 30px;
      align-self: center;
      overflow: hidden;
    }
  }

  .photo__link {
    width: 300px;
    height: 300px;

    &--panorama {
      position: relative;
      width: auto;
      height: 509px;
    }
  }

  .photo__comment {
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
    margin: 0 0 19px;
    padding: 24px 27px 23px;

    &--panorama {
      width: 620px;
      margin: 0 20px 20px;
      flex-grow: 0;
    }
  }

  .photo__author--panorama {
    order: -1;
    width: auto;
  }

  .photo__comment-text {
    min-height: 49px;

    &--panorama::before {
      z-index: 10;
      top: -453px;
      right: 0;
    }
  }

  .photo__comment-like {
    margin-top: 11px;
    margin-left: 0;

    &::before {
      left: 228px;
    }

    &--panorama {
      margin: 0 21px;
      width: 100px;
      order: -1;

      &::before {
        left: 105px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .photo__item {
    width: 300px;
    margin-bottom: 34px;

    &--panorama {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .photo__link {
    width: 300px;
    height: 400px;

    &--panorama {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 506px;
    }
  }

  .photo__comment--panorama {
    min-width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .photo__comment-text--panorama {
    min-height: auto;

    &::before {
      top: -453px;
      right: 0;
    }
  }

  .photo__comment-like--panorama {
    margin: 0 24px;
  }
}
