.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  margin: 0;
  text-align: center;
  color: $blue;
  background-color: $white;
  box-shadow: 0 15px 15px rgba($black, 0.15%), 0 -5px 15px rgba($black, 0.15%);

  &--send {
    background-color: $gray;
  }

  &--open {
    display: block;
  }
}

.popup__wrapper {
  padding: 20px $content-padding;
  background-color: $white;
}

.popup__title {
  margin: 0;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: $black;
}

.popup__text {
  margin: 0 10px;
}

.popup__button {
  margin: 40px $content-padding;
  width: 320px - ($content-padding * 2);
}

@media (min-width: $tablet-width) {
  .popup {
    width: 460px;
  }

  .popup__title {
    font-size: 30px;
    line-height: 40px;
  }

  .popup__text {
    margin: 0 55px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .popup {
    width: 780px;

    &--required {
      background-color: $gray;
    }
  }

  .popup__text {
    margin: 20px 160px;
  }

  .popup__button--close {
    width: 460px;
  }
}
